body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}

h1{
    font-size: 50px;
}

.teal{
    color:teal;
}

.flex{
    display:flex;
}

.shadow{
    width: 40%;
    box-shadow: 10px 10px 30px cyan;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
}


.w50{
    width: 50%;
    padding-left:2%;
}

.w50 img{
    width:80%;
}

.lb{
    text-decoration:none;
    padding: 10px 40px;
    background-image: linear-gradient(cyan , teal);
    color:white;
    border-radius: 4px;
    font-weight:600;
    margin-left: 15px;
    margin-top:20px;
    display:inline-block;
}
.topbanner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}

.dream-big{
    margin-top: 150px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}
.exp{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#color2{
    border-left: 7px solid;
    border-image: linear-gradient(cadetblue,cyan);
    border-image-slice:1;
}

#color1{
    border-left: 7px solid;
    border-image: linear-gradient(cyan,cadetblue);
    border-image-slice:1;
    
}